version: '3.8'

networks:
  asvsp:
    name: asvsp
    external: true

services:
  stream-processor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stream-processor
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ELASTICSEARCH_HOST=elasticsearch:9200
    networks:
      - asvsp
    restart: unless-stopped

